@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color:white;
  background: radial-gradient(circle, rgb(41, 78, 17) 13%, rgb(10, 10, 8) 100%);
}

h1 {
  line-height: 3rem;
}

a {
  text-decoration: none;
  color: rgb(212, 235, 12);
  font-size: 1.5rem;
  background-color: rgb(8, 19, 1);
  border-radius: 10px;
  padding: 3px 5px;
  -moz-text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 3px 3px 10px rgba(212, 10, 10, 1.9);
}
.toolbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.text__wrapper {
  height: 100vh;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  line-height: 2rem;
  /* padding: 1rem; */
}

.text__wrapper p {
  margin: 1rem 5rem 2rem;
}

.btn__wrapper{
  top:25%;
  right: 5%;
  position: fixed;
}

.btn{
  /* background: rgb(27, 83, 37); */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
  border:none;
  color:rgb(242, 252, 241);
  -moz-text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -webkit-text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  -ms-text-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1.9);
  width:100px;
  margin:1rem 3rem;
  padding: 0.8rem;
  font-size: 1rem;
  font-family: inherit;
  cursor: pointer;
  background: linear-gradient(30deg, #393cfc, #83790f);
  position: relative;
  box-shadow: 0px -6px 36px 0px #fbeb36, 0px 0px 6px 0px #ffb347;
}

.btn:after {
  content: '';
  position: absolute;
  top:-3px;
  bottom:-3px;
  left:-3px;
  right:-3px;
  border-radius: 50%;
  filter: blur(10px);
  background: linear-gradient(30deg,rgb(251 235 54 / 30%) 20%,rgb(255 255 255 / 50%));
  z-index: 100;
}

.btn:hover{
  opacity: 0.9;
}

.btn:focus{
  outline: none;
}

/* p {
  text-align: left;
  margin: 5px 20px;
} */

/* tablet */
